<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="Remove .html from URL" stopProcessing="true">
					<match url="^(.*)\.html$" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" />
					</conditions>
					<action type="Rewrite" url="{R:1}" />
				</rule>
				<rule name="Add .html extension">
					<match url=".*" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}.html" matchType="IsFile" />
					</conditions>
					<action type="Rewrite" url="{R:0}.html" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>